auditbeat.config.modules:
  path: ${path.config}/modules.d/*.yml
  reload.enabled: false

auditbeat.modules:
- module: auditd
  resolve_ids: true
  failure_mode: silent
  backlog_limit: 8196
  rate_limit: 0
  include_raw_message: false
  include_warnings: false

- module: file_integrity
  paths:
  - /bin
  - /usr/bin
  - /sbin
  - /usr/sbin
  - /etc
  recursive: true

setup.template.settings:
  index.number_of_shards: 1

output.kafka:
  # initial brokers for reading cluster metadata
  hosts: ["kafka-broker-1:9092", "kafka-broker-2:9092"]

  # message topic selection + partitioning
  topic: 'audit-logs'
  partition.round_robin:
    reachable_only: false

  required_acks: 1
  compression: gzip
  max_message_bytes: 1000000
