auditbeat.config.modules:
  path: ${path.config}/modules.d/*.yml
  reload.enabled: false

auditbeat.modules:
- module: auditd
  resolve_ids: true
  failure_mode: silent
  backlog_limit: 8196
  rate_limit: 0
  include_raw_message: false
  include_warnings: false
  audit_rules: |
    -w /etc/group -p wa -k identity
    -w /etc/passwd -p wa -k identity
    -w /etc/gshadow -p wa -k identity
    -w /etc/shadow -p wa -k identity
    -a always,exit -F arch=b64 -S execve,execveat -k exec

- module: file_integrity
  paths:
  - /bin
  - /usr/bin
  - /sbin
  - /usr/sbin
  - /etc
  recursive: true
  
- module: system
  datasets:
    - package # Installed, updated, and removed packages
    - host    # General host information
    - login   # Login events
    - process # Process start and stop events
    - socket  # Opened and closed sockets
    - user    # User changes
  state.period: 12h
  user.detect_password_changes: true
  login.wtmp_file_pattern: /var/log/wtmp*
  login.btmp_file_pattern: /var/log/btmp*

setup.template.settings:
  index.number_of_shards: 1

output.kafka:
  # initial brokers for reading cluster metadata
  hosts: ["kafka-broker-1:9092", "kafka-broker-2:9092"]

  # message topic selection + partitioning
  topic: 'audit-logs'
  partition.round_robin:
    reachable_only: false

  required_acks: 1
  compression: gzip
  max_message_bytes: 1000000
