filebeat.inputs:
- type: log
  enabled: true
  paths:
    - /var/log/auth.log
    - /var/log/syslog
    - /var/log/*.log
    - /var/log/financial_app.log

filebeat.config.modules:
  path: ${path.config}/modules.d/*.yml
  reload.enabled: false

setup.template.settings:
  index.number_of_shards: 1

output.kafka:
  # initial brokers for reading cluster metadata
  hosts: ["kafka-broker-1:9092", "kafka-broker-2:9092"]

  # message topic selection + partitioning
  topic: 'system-logs'
  partition.round_robin:
    reachable_only: false

  required_acks: 1
  compression: gzip
  max_message_bytes: 1000000
